{% extends 'vinculapp/navbar.html' %}

{% block content %}
<div class="row container center-block home">

	<div class="col-md-5 col-md-offset-2">
		<form class="home" action="/addfolder/" method="post"> {% csrf_token %}
			<div class="col-md-6 input-group pull-left">
				<input type="text" class="form-control" name="name" placeholder='Nueva carpeta'>
			</div>
			<div class="col-md-2">
				<span class=""><button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-plus blue-gray-text'></span></button></span>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<form class="home" action="addfile" method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class="col-md-12 input-group pull-left">
				<input type="file" class="filestyle" data-buttonText='archivo de configuración' data-input='false' data-iconName='glyphicon-import'>
			</div>
		</form>
	</div>	
</div>
<div class="row container center-block home ">
	
{% for folder in folders %}
	<form id="form{{forloop.counter}}" method="post" action="/content/">{% csrf_token %}
		<div class="col-md-2 col-md-offset-1">
		    <a onclick="$('#form{{forloop.counter}}').submit()" class="thumbnail" style="background-image:url('{{MEDIA_URL}}{{folder.pic}}'); {%if not folder.pic == None %} color:white;{%endif%}">
		      <span>{{ folder.name }}</span>
		    </a>
		    <input class="hidden" value="{{folder.id}}" name="folder">
		</div>
	</form>
{% endfor %}

</div>
  
{% endblock %}
