{% extends 'vinculapp/master.html' %}

{% block body_tag %}<body class="blue-gray">{% endblock %}
{% block content %}


<div class="container row login">
	<div class="col-md-6 col-md-offset-5">
		<h1>VINCULA</h1>
	</div>
</div>

<div class="container row center-block login">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <form class="form-inline">
		    	<div class="row">
	  				<div class="form-group col-md-4">
	    				<label class="sr-only" for="exampleInputEmail3">Email address</label>
	    				<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
	  				</div>
	  				<div class="form-group col-md-4">
	    				<label class="sr-only" for="exampleInputPassword3">Password</label>
	    				<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
	  				</div>
	  				<div class="col-md-4">
	  					<button type="submit" class="btn btn-default center-block">Entrar</button>
	  				</div>
	  			</div>
			</form>
		  </div>
		</div>
	</div>
</div>
<div class="container row center-block login">
	<div class="col-md-6 col-md-offset-5">
		<a href="/register/">¿Aún no estas registrado?</a>
	</div>
</div>

{% endblock %}