{% extends 'vinculapp/master.html' %}

{% block navbar %}
    <nav class="navbar blue-gray">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand white-text" href="#">
            vincula
          </a>
        </div>

        <div class="navbar-right">
          <ul class="nav navbar-nav ">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle white-text" data-toggle="dropdown" role="button" aria-expanded="false">{{request.user}}<span class="caret"></span></a>
                <ul class="dropdown-menu " role="menu">
                  
                  <li><a href="#">Mi cuenta</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Salir</a></li>
                  
                </ul>
            </li>
          </ul>
        </div>
        <div class="navbar header hidden">
          <div class="nav navbar-nav">
            <span class="white-text">{{folder.name}}</span>
          </div>
        </div>
        <div class="nav navbar-nav {% if not folder.id %} hidden {% endif %}">
          <form class="navbar-form navbar-left" action="/search/" method="post" role="search">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="search_param_name" placeholder="Buscar por nombre...">
              <input type="text" class="hidden" name="folder" value="{{folder.id}}">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true" ></span></button>
          </form>
        </div>
      </div>

    </nav>
{% endblock %}