.blue-gray{
	background-color: #607d8b;
}

.blue-gray-text{
	color: #607d8b;
}

.white-text{
	color: #ffffff;
}

.gray-light{
	background-color: #eceff1;
}

/* Home */

.home .thumbnail{
	background-color: #ffffff; 
	color: #607d8b;
	font-size: 18px;
	text-align: center;
	width: 200px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;

}

.home .thumbnail:hover{
	width: 205px;
	height: 305px;
	text-decoration: none;
}

.home {
	margin-bottom: 5%;
}

/* Login */

.login .panel{
	margin-top: 20%;
}
.login h1{
	font-size: 100px;
	color: #ffffff;
}

.login a{
	color: #ffffff;
}

.login .btn{
	color: #ffffff;
	background-color: #455a64;
}

/* register */

.register h1{
	color: #ffffff;
}

.register small{
	color: white;
	font-size: 16px;
}

.register .panel{
	margin-top:15%;
}

.register .panel-heading{
	font-size: 40px;
	color: #607d8b;
	background-color: #ffffff;
	text-align: center;
}

.register a{
	color: #ffffff;
}

.register .btn{
	color: #ffffff;
	background-color: #455a64;
}

.register #error{
	color: red;
}

.register #preview{
	width: 75px;
	height: 45px;
}