.blue-gray{
	background-color: #607d8b;
}

.blue-gray-text{
	color: #607d8b;
}

.white-text{
	color: #ffffff;
}

/* Login */

.login .panel{
	margin-top: 20%;
}
.login h1{
	font-size: 100px;
	color: #ffffff;
}

.login a{
	color: #ffffff;
}

.login .btn{
	color: #ffffff;
	background-color: #455a64;
}